#work_slides_show_wrap-1 {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    position: relative;
}

#work_slider_show-inner {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
}

#work_slider_show-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#work_slider_show-inner>ul>li {
    width: 20%;

    float: left;
    position: relative;
}

#work_slider_show-inner>ul>li>img {
    margin: auto;
    height: 100%;
}

#work_slides_show_wrap-1 input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}


#work_slides_show_wrap-1 label {
    position: absolute;
    left: 50%;
    bottom: -32px;
    z-index: 100;
    width: 8px;
    height: 8px;
    background-color: #DD3E18;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#work_slides_show_wrap-1 input[type=radio]#work_button-1:checked~label[for=work_button-1] { background-color: #000000 }

#work_slides_show_wrap-1 input[type=radio]#work_button-2:checked~label[for=work_button-2] { background-color: #000000 }

#work_slides_show_wrap-1 input[type=radio]#work_button-3:checked~label[for=work_button-3] { background-color: #000000 }

#work_slides_show_wrap-1 input[type=radio]#work_button-4:checked~label[for=work_button-4] { background-color: #000000 }

#work_slides_show_wrap-1 input[type=radio]#work_button-5:checked~label[for=work_button-5] { background-color: #000000 }

#work_slides_show_wrap-1 label[for=work_button-1] { margin-left: -48px }

#work_slides_show_wrap-1 label[for=work_button-2] { margin-left: -24px }

#work_slides_show_wrap-1 label[for=work_button-4] { margin-left: 24px }

#work_slides_show_wrap-1 label[for=work_button-5] { margin-left: 48px }

#work_slides_show_wrap-1 input[type=radio]#work_button-1:checked~#work_slider_show-inner>ul { left: 0 }

#work_slides_show_wrap-1 input[type=radio]#work_button-2:checked~#work_slider_show-inner>ul { left: -100% }

#work_slides_show_wrap-1 input[type=radio]#work_button-3:checked~#work_slider_show-inner>ul { left: -200% }

#work_slides_show_wrap-1 input[type=radio]#work_button-4:checked~#work_slider_show-inner>ul { left: -300% }

#work_slides_show_wrap-1 input[type=radio]#work_button-5:checked~#work_slider_show-inner>ul { left: -400% }


input[type=radio]#work_button-1:checked~.arrows#arrow-2, input[type=radio]#work_button-2:checked~.arrows#arrow-3, input[type=radio]#work_button-3:checked~.arrows#arrow-4, input[type=radio]#work_button-4:checked~.arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#work_button-2:checked~.arrows#arrow-1, input[type=radio]#work_button-3:checked~.arrows#arrow-2, input[type=radio]#work_button-4:checked~.arrows#arrow-3, input[type=radio]#work_button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#work_button-2:checked~.arrows#arrow-1 { left: -19px }

input[type=radio]#work_button-3:checked~.arrows#arrow-2 { left: -37px }

input[type=radio]#work_button-5:checked~.arrows#arrow-4 { left: -73px }
